.graphbg {
    width: 100%;
}

.axismargin{
    margin: 5px;
    display: flex;
}

.axis{
    border-top: 1px gray solid;
    border-right: 1px gray solid;
    text-align: right;
    width:33.3%
}
  
th.dataname
{
    width: 10%;
    font-weight: normal;
}
td.graphcell
{
    border: 1px gray solid;
    border-top: 0px;
    margin: 0px;
    height: 2.8em;
}

.graphmargin{
    padding: 0.5em 0px;
}

.graphbar {
    width: 0%;
    text-align: right;
    padding: 0px;
}

.graphvalue
{
    margin-right: -2.5em;
    text-align: right;
    vertical-align: super;
    padding: 0 0.5em;
    color: white;
    text-shadow:
        1px 1px 1px black,
        -1px 1px 1px black,
        1px -1px 1px black,
        -1px -1px 1px black,
        1px 0px 1px black,
        0px 1px 1px black,
        -1px 0px 1px black,
        0px -1px 1px black;

}

.dataimg
{
    height: 2.0em;
    padding: 0px 0px 0px 5px;
    visibility: hidden;
}