.dropzone
{
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    width: 33%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main 
{
    display: flex;
    margin: 1%;
    height: 30%;
    width: 90%;
    padding: 1%;
    justify-content: space-around;
    flex-direction:  row;
}
#cardbase
{
    border: 1px solid black;
    border-radius: 5px;
    margin: 2%;
    padding: 1%;
    min-height: 400px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.dragableCard
{
    overflow:  auto;
    margin: 5px;
    padding: 5px;
}
#movedcard
{
    position: relative;
    overflow: visible;
    height: 0px;
    width: 0px;

}
#pain1
{
    background-color: #afa;
}

#pain2
{
    background-color: #ffa;
}

#pain3
{
    background-color: #aaa;
}